<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 18.08.2021, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Мой первый пост о чем-то.</p>
        </div>

        <div>
            <p>published: 18.08.2021, 12:18</p>
            <h2><a href="">My second post</a></h2>
            <p>Мой второй пост о чем-то.</p>
        </div>
    </body>
</html>